# Ignore everything
/*

!.gitignore

!bin/

!README
!TODO

!ToyKeeper/
ToyKeeper/*
!ToyKeeper/tk*.h
!ToyKeeper/hwdef-FET_7135.h
!ToyKeeper/hwdef-H17Fx.h
!ToyKeeper/hwdef-nanjg.h
!ToyKeeper/hwdef-Tripledown.h

!ToyKeeper/crescendo/
ToyKeeper/crescendo/*.hex
ToyKeeper/crescendo/*.elf
ToyKeeper/crescendo/*.o
ToyKeeper/crescendo/*.map
